streamlit==1.22.0
numpy==1.23.5
matplotlib==3.6.2
scipy==1.9.3
markdown-it-py==2.2.0  # Versión compatible con Streamlit
rich==13.7.0  # Versión estable conocida
Pygments==2.15.1  # Versión recomendada
mdurl==0.1.2
